@font-face {
  font-family: vazir;
  src: url(../Font/Vazir-Regular.ttf);
}

body {
  background-color: #d5ebf7;
  height: 200vh;
}

.my-header {
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 20px;
  font-family: vazir;
  background-color: white;
  width: 88%;
  border-radius: 4px;
  height: 100px;
}

.navbar-nav li a {
  color: #6c757d;
  font-size: 15px;
}

.icons-menu a ion-icon {
  color: black;
  font-size: 20px;
}

.icons-menu a ion-icon {
  padding: 12px 12px 8px 12px;
  background-color: #f1f1f1;
}

.number-buy {
  color: white;
  background-color: #46b1ef;
  border-radius: 50px;
  position: relative;
  z-index: 100;
  top: 1%;
  left: 1%;
  padding: 1px 5px 0px 5px;
  font-size: 12px;
}

.icon-menu-none {
  font-size: 20px;
  background-color: #f1f1f1;
  padding: 12px;
  border-radius: 4px;
}

@media screen and (max-width: 720px) {
  .navbar-collapse {
    background-color: white;
    margin-top: 25px;
    text-align: right;
    padding-right: 20px;
  }

  .navbar-nav {
    padding-right: 0;
  }

  .icon-menu a {
    margin-right: 40px;
  }
}
