@font-face {
  font-family: vazir;
  src: url(../Font/Vazir-Regular.ttf);
}

@font-face {
  font-family: vazir-d;
  src: url(../Font/Vazir-Bold-UI.ttf);
}

body {
  background-color: #d5ebf7;
  height: 200vh;
}

.my-navbar {
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 21px;
  font-family: vazir;
  background-color: white;
  width: 98%;
  border-radius: 4px;
  height: 100px;
}

nav ul {
  padding: 0;
}

.navbar-nav li:hover{
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
}

.navbar-nav li{
  transition: all 200ms;
}

.navbar-nav li a {
  color: #6c757d;
  font-size: 15px;
}

.icons-menu a ion-icon {
  color: black;
  font-size: 20px;
}

.icons-menu a ion-icon {
  padding: 10px 12px 12px 12px;
  background-color: #f1f1f1;
}

.icons-menu a ion-icon:hover {
  border-bottom: rgb(214, 214, 214) 3px solid;
  border-top: rgb(214, 214, 214) 3px solid;
    padding: 7px 12px 9px 12px;
}

.icon-menu-none {
  font-size: 18px;
  background-color: #f1f1f1;
  padding: 12px;
  border-radius: 4px;
}

@media screen and (max-width: 720px) {
  .navbar-collapse {
    background-color: white;
    margin-top: 25px;
    text-align: right;
    padding-right: 20px;
  }

  .navbar-nav {
    padding-right: 0;
  }

  .icon-menu a {
    margin-right: 40px;
  }
}

.text-header1 h1,
.text-header1 h6 {
  color: #6c757d;
}

.text-header1 h6 {
  font-family: vazir;
}

.text-header1 h1 {
  font-size: 2.1em;
  font-family: vazir-d;
}

.form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.my-btn-search {
  position: absolute;
}

.my-text-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.my-search {
  height: 65px;
  border-radius: 30px;
  border: none;
  font-family: vazir;
}

.my-form1 {
  width: 58%;
  height: max-content;
  border: none;
}

.my-btn-search ion-icon {
  font-size: 22px;
  background-color: #46b1ef;
  padding: 10px;
  border-radius: 50%;
  color: white;
  box-shadow: #daf1f8 0px 0px 0px 5px;
}

@media screen and (max-width: 767px) {
  .my-form1 {
    width: 100%;
  }
}
